/* 引入导致naive-ui tab-bar失效 */
/* @import './base.css'; */
body {
  /* 百分百窗口高度 */
  height: 100%;
  width: 100%;
  min-width: 300px;
  /* 渐变背景 */
  background: linear-gradient(150deg, #8fe2eb, #fef9d7);
  /* 弹性布局 垂直居中 */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */

  /* 溢出隐藏 */
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.n-card,
.n-input,
.n-base-selection .n-base-selection-label {
  background-color: rgba(255, 255, 255, 0.5);
}
.n-divider:not(.n-divider--vertical) {
  margin-top: 15px;
  margin-bottom: 15px;
}
.n-table,
.n-table th,
.n-table td {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.n-table th {
  background-color: hsl(160deg 19.87% 78.38% / 50%) !important;
}
